<header>
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a><i class="fa fa-phone"></i> (+84.28)37155742</a></li>
        <li><a><i class="fa fa-envelope-o"></i> nguyenngoclam3298@gmail.com</a></li>
        <li><a><i class="fa fa-map-marker"></i> Office: Floor 3, QTSC Building 1, QTSC, District 12, Ho Chi Minh city, Vietnam</a></li>
      </ul>
      <ul class="header-links pull-right">
        <% if user_signed_in? %>
          <li><i class="fa fa-user-o"></i><span style="color: red; font-size:16px">Welcome <%= current_user.email %> !</span></li>
          <li><i class="fa fa-user-i"></i><%= link_to "Sign out ", destroy_user_session_path, :method => :delete %><i class="fa fa-arrow-circle-right"></i></li>
        <% else %>
          <li><i class="fa fa-user-o"></i><%= link_to "Log In", new_user_session_path, class: "nav-link"%></li>
        <% end %>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->
  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a href="#" class="logo">
              <img src="./images/logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->
        <!-- SEARCH BAR -->
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <%= render "products/searchproduct"%>
              <%# <input class="input" placeholder="Search here">
              <button class="search-btn">Search</button> %>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->
        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Cart -->
            <%if current_user.present?%>
              <%= render @cart %>
            <%end%>
            <!-- /Cart -->
            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
</header>
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <%=render "category_pros/navbacategory"%>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
