<%= form_with(model: product_detail, local: true) do |form| %>
  <% if product_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_detail.errors.count, "error") %> prohibited this product_detail from being saved:</h2>

      <ul>
        <% product_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :screen %>
    <%= form.text_field :screen %>
  </div>

  <div class="field">
    <%= form.label :operating_system %>
    <%= form.text_field :operating_system %>
  </div>

  <div class="field">
    <%= form.label :rear_camera %>
    <%= form.text_field :rear_camera %>
  </div>

  <div class="field">
    <%= form.label :front_camera %>
    <%= form.text_field :front_camera %>
  </div>

  <div class="field">
    <%= form.label :network_connection %>
    <%= form.text_field :network_connection %>
  </div>

  <div class="field">
    <%= form.label :cpu %>
    <%= form.text_field :cpu %>
  </div>

  <div class="field">
    <%= form.label :ram %>
    <%= form.text_field :ram %>
  </div>

  <div class="field">
    <%= form.label :internal_memory %>
    <%= form.text_field :internal_memory %>
  </div>

  <div class="field">
    <%= form.label :memory_stick %>
    <%= form.text_field :memory_stick %>
  </div>

  <div class="field">
    <%= form.label :sim %>
    <%= form.text_field :sim %>
  </div>

  <div class="field">
    <%= form.label :battery_capacity %>
    <%= form.text_field :battery_capacity %>
  </div>

  <div class="field">
    <%= form.label :hard_drive %>
    <%= form.text_field :hard_drive %>
  </div>

  <div class="field">
    <%= form.label :graphic_card %>
    <%= form.text_field :graphic_card %>
  </div>

  <div class="field">
    <%= form.label :connector %>
    <%= form.text_field :connector %>
  </div>

  <div class="field">
    <%= form.label :design %>
    <%= form.text_field :design %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :release_time %>
    <%= form.text_field :release_time %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
