<p id="notice"><%= notice %></p>

<p>
  <strong>Screen:</strong>
  <%= @product_detail.screen %>
</p>

<p>
  <strong>Operating system:</strong>
  <%= @product_detail.operating_system %>
</p>

<p>
  <strong>Rear camera:</strong>
  <%= @product_detail.rear_camera %>
</p>

<p>
  <strong>Front camera:</strong>
  <%= @product_detail.front_camera %>
</p>

<p>
  <strong>Network connection:</strong>
  <%= @product_detail.network_connection %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @product_detail.cpu %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @product_detail.ram %>
</p>

<p>
  <strong>Internal memory:</strong>
  <%= @product_detail.internal_memory %>
</p>

<p>
  <strong>Memory stick:</strong>
  <%= @product_detail.memory_stick %>
</p>

<p>
  <strong>Sim:</strong>
  <%= @product_detail.sim %>
</p>

<p>
  <strong>Battery capacity:</strong>
  <%= @product_detail.battery_capacity %>
</p>

<p>
  <strong>Hard drive:</strong>
  <%= @product_detail.hard_drive %>
</p>

<p>
  <strong>Graphic card:</strong>
  <%= @product_detail.graphic_card %>
</p>

<p>
  <strong>Connector:</strong>
  <%= @product_detail.connector %>
</p>

<p>
  <strong>Design:</strong>
  <%= @product_detail.design %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product_detail.size %>
</p>

<p>
  <strong>Release time:</strong>
  <%= @product_detail.release_time %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_detail.product_id %>
</p>

<%= link_to 'Edit', edit_product_detail_path(@product_detail) %> |
<%= link_to 'Back', product_details_path %>
