<%=form_for [@product12, @comment] do |form| %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>
  <div class="field">
    <%= form.label :vote_count %>
    <%= form.number_field :vote_count %>
  </div>
  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>
  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>
  <div>
    <%= button_to 'Create', new_poll_path %>
    <%= link_to "Profile", controller: "polls", action: "create"%>
    <%= button_tag("Create", type: "submit", form: 'edit_product_3') %>
  </div>
<% end %>
