<div class="container">
  <h2 class="text-center" style="margin-top:0px">Your Cart</h2>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Images</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.line_items.each do |item| %>
        <tr>
          <td>
            <img src="<%=item.product.img_1%>" alt="" width=70px height = 70px>
          </td>
          <td><%=link_to item.product.pro_name, item.product %></td>
          <td><%= item.quantity %></td>
          <td><%= item.product.price_output %>$</td>
          <td class="item_price"><%= number_to_currency(item.total_price) %></td>
          <td><%= link_to "X", item, method: :delete, data: { confirm: 'Are you sure you want to delete this product?' }, class: "btn btn-danger"%></td>
        </tr>
      <%end%>
    </tbody>
    <thead class="thead-dark">
      <tr>
        <th>Total Price</th>
        <th></th>
        <th></th>
        <th></th>
        <th class="total_cell"><%= number_to_currency(@cart.total_price) %></th>
        <th><div input type="button", class="btn btn-success"><a href="/orders/new">Checkout <i class="fa fa-arrow-circle-right"></i></a></div>
        </th>
      </tr>
      <tr>
        <%= link_to "Delete Cart", @cart, method: :delete, data: { confirm: 'Are you sure you want to delete this cart?' }, class: "btn btn-warning"%><small> <%= @cart.total_item_product %> Item(s)</small>
      </tr>
    </thead>
  </table>
</div>
