<%= form_with(model: category_pro, local: true) do |form| %>
  <% if category_pro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category_pro.errors.count, "error") %> prohibited this category_pro from being saved:</h2>

      <ul>
        <% category_pro.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_name %>
    <%= form.text_field :category_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
