<%# <%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pro_name %>
    <%= form.text_field :pro_name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :price_input %>
    <%= form.text_field :price_input %>
  </div>

  <div class="field">
    <%= form.label :price_output %>
    <%= form.text_field :price_output %>
  </div>

  <div class="field">
    <%= form.label :img_1 %>
    <%= form.text_field :img_1 %>
  </div>

  <div class="field">
    <%= form.label :img_2 %>
    <%= form.text_field :img_2 %>
  </div>

  <div class="field">
    <%= form.label :img_3 %>
    <%= form.text_field :img_3 %>
  </div>

  <div class="field">
    <%= form.label :category_pro_id %>
    <%= form.text_field :category_pro_id %>
  </div>

  <div class="actions">
    <%= form.submit %>  
  </div>
<% end %> %>
