<!-- SECTION -->
<% @categorys1.each do |category_product| dem = 1  %>
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="section-title">
        <div class="section-title">
          <h3 class="title"><%=link_to category_product.category_name + " New", products_path(category_pro_id: category_product.id, category_name: category_product.category_name)%></h3>
        </div>
      </div>
    </div>
    <!-- /section title -->
    <!-- Products tab & slick -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
              <div class="products-slick" data-nav="#slick-nav-1">
                <!-- product -->
                <% @products1.each do |product_category| %>
                  <% if (product_category.category_pro_id ==  category_product.id) && (dem <=6 )%>
                    <div class="product">
                      <%= link_to product_category do %>
                        <div class="product-img">
                          <img src = "<%=product_category.img_1%>">
                          <div class="product-label">
                            <span class="new">NEW</span>
                          </div>
                        </div>
                      <% end %>
                      <div class="product-body">
                        <p class="product-category"><%=product_category.category_pro.category_name%></p>
                        <h3 class="product-name"><%= link_to product_category.pro_name, product_category %></h3>
                        <h4 class="product-price"><%= number_to_currency(product_category.price_output) %> </h4>
                        <% sum_vote(product_category.id)%>
                        <div class="product-rating">
                          <% [1,2,3,4,5].each do | x | %>
                            <% if  x <= (@n1.to_f/@dem1) %>
                              <i class="fa fa-star"></i>
                            <% else %>
                              <i class="fa fa-star-o empty"></i>
                            <%end%>
                          <%end%>
                        </div>
                      </div>
                      <div class="add-to-cart" >
                        <%= button_to 'Add to Cart', line_items_path(product_id: product_category), class: "add-to-cart-btn fa fa-shopping-cart", id: "add-cart-login" %>
                      </div>
                    </div>
                    <%dem+=1%>
                  <%end%>
                <%end%>
                <!-- /product -->
              </div>
            </div>
            <!-- /tab -->
          </div>
        </div>
      </div>
    </div>
    <!-- Products tab & slick -->
  </div>
  <!-- /row -->
</div>

<!-- /container -->
<%end%>

