<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="/">Home</a></li>
          <li class="active"><%= @category_nav%></li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- ASIDE -->
      <div id="aside" class="col-md-3">
        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Categories</h3>
          <div class="checkbox-filter">
            <% @categorys1.each do |category_product| dem = 0 %>
            <div class="input-checkbox">
              <label for="<%=category_product.id%>">
                <span>* </span>
                <%=category_product.category_name%>
                <%@products1.each do |product|%>
                  <%if (product.category_pro_id == category_product.id)%>
                    <%dem +=1%>
                  <%end%>
                <%end%>
                <small>(<%=dem%>)</small>
              </label>
            </div>
          <%end%>
        </div>
      </div>
      <!-- /aside Widget -->
      <!-- aside Widget -->
      <!-- /aside Widget -->
    </div>
    <!-- /ASIDE -->
    <!-- STORE -->
    <div id="store" class="col-md-9">
      <!-- store top filter -->
      <!-- /store top filter -->
      <!-- store products -->
      <div class="row">
        <!-- Products tab & slick -->
        <div class="col-md-12">
          <div class="row">
            <div class="products-tabs">
              <!-- tab -->
              <div id="tab1" class="tab-pane active">
                <div class="products" >
                  <!-- product -->
                  <% @product.each do |product| %>
                    <%= link_to product do %>
                      <div class="product">
                        <div class="product-img">
                          <img src = "<%=product.img_1%>">
                          <div class="product-label">
                            <span class="new">NEW</span>
                          </div>
                        </div>
                        <div class="product-body">
                          <p class="product-category"><%=product.category_pro.category_name%></p>
                          <h3 class="product-name"><%= link_to product.pro_name, product %>
                            <h4 class="product-price"><%= number_to_currency(product.price_output)%></h4>
                            <div class="product-rating">
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                              <i class="fa fa-star"></i>
                            </div>
                          </div>
                        <%end%>
                        <div class="add-to-cart" >
                          <%= button_to 'Add to Cart', line_items_path(product_id: product), class: "add-to-cart-btn fa fa-shopping-cart", id: "add-cart-login" %>
                        </div>
                      </div>
                    <%end%>
                    <!-- /product -->
                  </div>
                </div>
                <!-- /tab -->
              </div>
            </div>
            <p><%= will_paginate @product, class: "text-center"%></p>
          </div>
          <!-- Products tab & slick -->
        </div>
        <!-- /store products -->
        <!-- store bottom filter -->
        <div class="store-filter clearfix">
          <ul class="store-pagination">
            <%# <%= render partial: 'pagy/nav', locals: {pagy: @pagy} %>
          </ul>
        </div>
        <!-- /store bottom filter -->
      </div>
      <!-- /STORE -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
