<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="/">Home</a></li>
          <li><a href="#"><%=@product.category_pro.category_name%></a></li>
          <li class="active"><%=@product.pro_name%></li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
          <div class="product-preview">
            <img width ="450" height ="450" src = "<%=@product.img_1%>">
          </div>
        </div>
      </div>
      <!-- /Product main img -->
      <!-- Product thumb imgs -->
      <div class="col-md-2  col-md-pull-5">
      </div>
      <!-- /Product thumb imgs -->
      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name"><%=@product.pro_name%></h2>
          <div>
            <div class="product-rating">
              <% [1,2,3,4,5].each do | x | %>
                <% if  x <= (@n.to_f/@dem) %>
                  <i class="fa fa-star"></i>
                <% else %>
                  <i class="fa fa-star-o empty"></i>
                <%end%>
              <%end%>
            </div>
            <a data-toggle="tab"><%= @dem%> Review(s)</a>
          </div>
          <div>
            <h3 class="product-price"><%=@product.price_output%> $ <del class="product-old-price">$990.00</del></h3>
            <ul class="product-links">
              <li>Category:</li>
              <li><a href="#"><%=@product.category_pro.category_name%></a></li>
            </ul>
          </div>
          <div class="product-options">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>THÔNG TIN KỸ THUẬT</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Màn hình:</td>
                  <td><%=@product.product_detail&.screen%></td>
                </tr>
                <tr>
                  <td>Hệ điều hành:</td>
                  <td><%=@product.product_detail&.operating_system%></td>
                </tr>
                <tr>
                  <td>Camera sau:</td>
                  <td><%=@product.product_detail&.rear_camera%></td>
                </tr>
                <tr>
                  <td>Camera trước:</td>
                  <td><%=@product.product_detail&.front_camera%></td>
                </tr>
                <tr>
                  <td>CPU:</td>
                  <td><%=@product.product_detail&.cpu%></td>
                </tr>
                <tr>
                  <td>Ram:</td>
                  <td><%=@product.product_detail&.ram%></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="add-to-cart">
            <%= button_to 'Add to Cart', line_items_path(:product_id => params[:id]), class: "add-to-cart-btn fa fa-shopping-cart" %>
          </div>
        </div>
      </div>
      <!-- /Product details -->
      <!-- Product tab -->
      <div class="col-md-12">
        <div id="product-tab">
          <!-- product tab nav -->
          <ul class="tab-nav">
            <li><a data-toggle="tab" href="#tab2">Details</a></li>
            <li><a data-toggle="tab" href="#tab3">Reviews (<%= @dem%>)</a></li>
          </ul>
          <!-- /product tab nav -->
          <!-- product tab content -->
          <div class="tab-content">
            <!-- tab1  -->
            <!-- /tab1  -->
            <!-- tab2  -->
            <div id="tab2" class="tab-pane fade in">
              <div class="row">
                <div class="col-md-12">
                  <div class="product-options">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>THÔNG TIN KỸ THUẬT</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Màn hình:</td>
                          <td><%=@product.product_detail&.screen%></td>
                        </tr>
                        <tr>
                          <td>Hệ điều hành:</td>
                          <td><%=@product.product_detail&.operating_system%></td>
                        </tr>
                        <tr>
                          <td>Camera sau:</td>
                          <td><%=@product.product_detail&.rear_camera%></td>
                        </tr>
                        <tr>
                          <td>Camera trước:</td>
                          <td><%=@product.product_detail&.front_camera%></td>
                        </tr>
                        <tr>
                          <td>Kết nối:</td>
                          <td><%=@product.product_detail&.cpu%></td>
                        </tr>
                        <tr>
                          <td>CPU:</td>
                          <td><%=@product.product_detail&.cpu%></td>
                        </tr>
                        <tr>
                          <td>Ram:</td>
                          <td><%=@product.product_detail&.ram%></td>
                        </tr>
                        <tr>
                          <td>Bộ nhớ trong:</td>
                          <td><%=@product.product_detail&.internal_memory%></td>
                        </tr>
                        <tr>
                          <td>Bộ nhớ ngoài:</td>
                          <td><%=@product.product_detail&.memory_stick%></td>
                        </tr>
                        <tr>
                          <td>Sim:</td>
                          <td><%=@product.product_detail&.sim%></td>
                        </tr>
                        <tr>
                          <td>Dung lượng pin:</td>
                          <td><%=@product.product_detail&.battery_capacity%></td>
                        </tr>
                        <tr>
                          <td>Ổ cứng:</td>
                          <td><%=@product.product_detail&.hard_drive%></td>
                        </tr>
                        <tr>
                          <td>Card màn hình:</td>
                          <td><%=@product.product_detail&.graphic_card%></td>
                        </tr>
                        <tr>
                          <td>Cổng kết nối:</td>
                          <td><%=@product.product_detail&.connector%></td>
                        </tr>
                        <tr>
                          <td>Thiết kế:</td>
                          <td><%=@product.product_detail&.design%></td>
                        </tr>
                        <tr>
                          <td>Kích thước:</td>
                          <td><%=@product.product_detail&.size%></td>
                        </tr>
                        <tr>
                          <td>Ra mắt</td>
                          <td><%=@product.product_detail&.release_time%></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /tab2  -->
            <!-- tab3  -->
            <div id="tab3" class="tab-pane fade in">
              <div class="row">
                <!-- Rating -->
                <div class="col-md-3">
                  <div id="rating">
                    <div class="rating-avg">
                      <% if @dem != 0%>
                        <span><%= (@n.to_f/@dem).round(1)%> / 5</span>
                      <%else%>
                        <span>0 / 5</span>
                      <%end%>
                      <div class="rating-stars">
                        <% [1,2,3,4,5].each do | x | %>
                          <% if  x <= (@n.to_f/@dem) %>
                            <i class="fa fa-star"></i>
                          <% else %>
                            <i class="fa fa-star-o empty"></i>
                          <%end%>
                        <%end%>
                      </div>
                    </div>
                    <ul class="rating">
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <div class="rating-progress">
                          <div style="width: <%=(@five_star.to_f/@dem)*100%>%;"></div>
                        </div>
                        <span class="sum"><%= @five_star %></span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div style="width: <%=(@four_star.to_f/@dem)*100%>%;"></div>
                        </div>
                        <span class="sum"><%= @four_star %></span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div style="width: <%=(@three_star.to_f/@dem)*100%>%;"></div>
                        </div>
                        <span class="sum"><%= @three_star %></span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div style="width: <%=(@two_star.to_f/@dem)*100%>%;"></div>
                        </div>
                        <span class="sum"><%= @two_star %></span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div style="width: <%=(@one_star.to_f/@dem)*100%>%;"></div>
                        </div>
                        <span class="sum"><%= @one_star %></span>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Rating -->
                <!-- Reviews -->
                <div class="col-md-6">
                  <div id="reviews">
                    <ul class="reviews">
                      <% @poll.poll.each do |poll|%>
                        <li>
                          <div class="review-heading">
                            <h6 class="name"><%= poll.user.email.chomp("@gmail.com")%></h6>
                            <p class="date"><%= poll.created_at%></p>
                            <div class="review-rating">
                              <% [1,2,3,4,5].each do | x | %>
                                <% if  x <= poll.vote_count %>
                                  <i class="fa fa-star"></i>
                                <% else %>
                                  <i class="fa fa-star-o empty"></i>
                                <%end%>
                              <%end%>
                            </div>
                          </div>
                          <div class="review-body">
                            <p><%= poll.comment%></p>
                          </div>
                        </li>
                      <% end%>
                    </ul>
                  </div>
                </div>
                <!-- /Reviews -->
                <div class="col-md-3">
                  <div id="review-form">
                    <%= form_with(model: [ @product, @product.poll.build ], remote: true, class: "review-form") do |form| %>
                      <%= form.text_area :comment, class: "input", placeholder: "Your Review" %>
                      <div class="input-rating">
                        <span>Your Rating: </span>
                        <div class="stars">
                          <%= form.radio_button :vote_count, 5, id: 'star5'%><label for="star5"></label>
                          <%= form.radio_button :vote_count, 4, id: 'star4'%><label for="star4"></label>
                          <%= form.radio_button :vote_count, 3, id: 'star3'%><label for="star3"></label>
                          <%= form.radio_button :vote_count, 2, id: 'star2'%><label for="star2"></label>
                          <%= form.radio_button :vote_count, 1, id: 'star1'%><label for="star1"></label>
                        </div>
                      </div>
                      <%if current_user.present?%>
                        <%= form.hidden_field :user_id, class: "input", value: current_user.id %>
                      <%end%>
                      <%= form.submit "Review", class: "primary-btn" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <!-- /tab3  -->
          </div>
          <!-- /product tab content  -->
        </div>
      </div>
      <!-- /product tab -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->
<!-- Section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h3 class="title">Related Products</h3>
        </div>
      </div>
      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="./img/product01.png" alt="">
            <div class="product-label">
              <span class="sale">-30%</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">product name goes here</a></h3>
            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->
      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="./img/product02.png" alt="">
            <div class="product-label">
              <span class="new">NEW</span>
            </div>
          </div>
          <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">product name goes here</a></h3>
            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->
      <div class="clearfix visible-sm visible-xs"></div>
      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="./img/product03.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">product name goes here</a></h3>
            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->
      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="./img/product04.png" alt="">
          </div>
          <div class="product-body">
            <p class="product-category">Category</p>
            <h3 class="product-name"><a href="#">product name goes here</a></h3>
            <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
            <div class="product-rating">
            </div>
            <div class="product-btns">
              <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
              <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
              <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
          </div>
        </div>
      </div>
      <!-- /product -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Section -->