<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/nav/public"%>
    <%if notice.present?%>
      <div class="container">
        <div class="alert alert-success">
          <strong>
            <p class="notice"><%= notice %></p>
          </strong>
        </div>
      </div>
    <%end%>
    <%if alert.present? %>
      <div class="container">
        <div class="alert alert-success">
          <strong>
            <p class="alert"><%= alert %></p>
          </strong>
        </div>
      </div>
    <%end%>
    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
</html>
