<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "layouts/nav/public"%>
    <%if notice.present?%>
      <p class="notice"><%= notice %></p>
    <%end%>
    <%if alert.present?%>
      <p class="alert"><%= alert %></p>
    <%end%>
    <%= yield %>
    <!-- jQuery Plugins -->
    <script src="views/js/jquery.min.js"></script>
    <script src="views/js/bootstrap.min.js"></script>
    <script src="views/js/slick.min.js"></script>
    <script src="views/js/nouislider.min.js"></script>
    <script src="views/js/jquery.zoom.min.js"></script>
    <script src="views/js/main.js"></script>
    <%= render "layouts/footer"%>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
